body{
    margin:0;
    background-color: rgb(230, 255, 230);
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    margin: 0%;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: black solid;
    margin: 0px;
}
.navbut{
    background-color: #9ed39e;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    cursor: pointer;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    margin: 0%;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    transition: 0.2s;
    margin: 0px;
}
.navbut:hover{
    
    background-color:#78cc78 ;
}
.sidebut{
    border:solid;
    padding:10px;
transition: 0.3s;
cursor: pointer;
}
.sidebut:hover{
    background-color: #78cc78;
    border-radius: 20px;
}
.side{
    border-right: solid;
    width:200px;
    margin :0px;
    display: flex;
    flex-direction: column;
    height: 91.8vh;
}
#your{
    background-color: #78cc78;
    border-radius: 20px;
}