body{
    
        background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("imgs/log_b.jpg");

    background-size: cover;
       
      font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  margin: 0%;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#log_in_box{
    border:solid #1F6F4A;
    background-color: #0a3a20;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius:20px ;
    box-shadow: 0 0 20px #166534;
    width: 50%;
    opacity: 1;
}
#wel_ag{
    text-align: center;
    font-size: 40px;
    color: #D1FAE5;
    margin-top: 0px;
}
.labels_log{
    display: inline;
    color:#D1FAE5;
    font-size: 20px;
    
}
.input_log{
    border: solid 2px;
    border-radius: 5px;
    height: 25px;
    width: 40%;
    background-color: #D1FAE5;
}
#log_submit{
    background-color: #071A12;
    color:#D1FAE5;
    border: 2px black solid;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#log_submit:hover{
    transform: scale(1.1);
}

#sign_up{
    color:#D1FAE5;
    transition: 0.2s;
    display: inline;
    cursor: pointer;
}
a{
    color:#D1FAE5;
    transition: 0.2s;
        text-decoration: none;
}
a:hover{
    color:#69eca9
}
#sign_up:hover{
    color:#69eca9
}
#left{
    background-color: #071A12;
    width: 50%;
    position: absolute;
    height: 100%;
}
#right{
    background-color: #D1FAE5;
    width: 50%;
    position: absolute;
    left: 50%;
    height: 100%;    
}
#sign_up_box{
    display:none;
        border:solid #1F6F4A;
    background-color: #0a3a20;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius:20px ;
    box-shadow: 0 0 20px #166534;
    width: 50%;
    opacity: 1;
}
#next, #back, #submit{
        background-color: #071A12;
    color:#D1FAE5;
    border: 2px black solid;
    border-radius: 13px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#next:hover{
    transform: scale(1.1);
}
#back:hover{
    transform: scale(1.1);
}
#buttoms{
    display: flex;
    justify-content: space-around;
}
#submit:hover{
   transform: scale(1.1);
}
/*
#submit{
  display: none;
}
  */