{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hacker Warehouse - Login</title>
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <div id="left"></div>
    <div id="log_in_box">
        <p id="wel_ag">Welcome</p>
        <p id="error_msg" style="color: #ff6b6b; text-align: center; display: none;"></p>

        <form id="loginForm">
            {% csrf_token %}
            <label class="labels_log">Username</label>
            <br>
            <input type="text" id="username" class="input_log" required autofocus>
            <br>
            <label class="labels_log">Password</label>
            <br>
            <input type="password" id="password" class="input_log" required>
            <br><br>
            <input type="submit" id="log_submit" value="Log In">
        </form>
    </div>

    <script src="{% static 'accounts/js/index.js' %}"></script>
</body>
</html>