<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hacker warehouse</title>
    <link rel="stylesheet" href="{% static 'accounts/css/main.css' %}" />
  </head>
  <body>
    <nav class="navbar">
      <p id="name">Hacker Warehouse</p>
      <div id="buttons">
        <button class="navbut">Home</button>
      </div>
    </nav>
    <section class="side">
      <p class="sidebut" id="your" onclick="chosestock()">Your Stock</p>
      <p class="sidebut" id="add" onclick="choseadd()">Add</p>
      <p class="sidebut" id="dash" onclick="chosedash()">Your Dashboard</p>
      <p class="sidebut" id="add_stock" onclick="choseadds()">Add stock</p>
      <p class="sidebut" id="history" onclick="chosehistory()">History</p>
    </section>
    <div id="stockdiv" class="maindiv">
      <p class="pofdiv">The stock</p>

      <p id="empyty">go to "Add" to add something</p>
    </div>

    <div id="newproduct">
      <button id="xbut" onclick="x()">X</button>
      <p id="mainnamenewprodect">Add new prodect</p>
      <form id="newproductform">
        <label class="labelsnew">Prodect name:</label>
        <input type="text" name="newproname" id="inputproname" required />
        <br />
        <br />
        <input id="done" type="submit" onclick="done(event)" />
      </form>

      <p id="newtip">
        tip: open "Add stock" to add the ammount of this produck or put
        information about it etc..
      </p>
    </div>

    <div id="adddiv" class="maindiv">
      <p class="pofdiv">Add</p>
      <div class="addbut">
        <button class="catadd" id="catadd" onclick="newcategory()">
          Add new category
        </button>
      </div>
      <div class="addbut">
        <button class="catadd" id="proadd" onclick="newproduct()">
          Add new Product
        </button>
      </div>
      <div id="theadd">
        <button id="back" onclick="back()">Back</button>
        <form class="addnewcat" method="post" id="newcatform">
          {% csrf_token %}
          <br />
          <br />
          <label>Enter the category name:</label>
          <input type="text" name="catname" id="catname" required />
          <br />
          <br />
          <br />
          <label>Enter the category description:</label>
          <input type="text" name="catdes" id="catdes" required />
          <br />
          <br />
          <label>category Parent</label>
          <select class="Parent" id="Parent" name="Parent"></select>

          <br />
          <div align="center">
            <input type="submit" id="submit" value="Create Category" />
          </div>
        </form>
      </div>
      <form
        class="addnewcat"
        method="post"
        id="newproform"
        style="display: none"
      >
        {% csrf_token %}
        <br />
        <br />
        <label>Product name:</label>
        <input type="text" name="Name" id="proname" required />
        <br />
        <br />
        <br />
        <label>Product description:</label>
        <input type="text" name="Description" id="prodes" required />
        <br />
        <br />
        <label>Brand:</label>
        <input type="text" name="Brand" id="probrand" />
        <br />
        <br />
        <label>product category</label>
        <select class="Parent" id="dropparnet" name="Category"></select>

        <br />
        <div align="center">
          <input
            type="submit"
            style="
              border: solid;
              padding: 10px;
              border-radius: 10px;
              background-color: #9ed39e;
              cursor: pointer;
              text-align: center;
            "
            value="Create Product"
          />
        </div>
      </form>
    </div>

    <div id="dashdiv" class="maindiv">
      <p class="pofdiv">The Dashboard</p>
    </div>
    <div id="histroydiv" class="maindiv" style="display: none">
      <div
        style="
          font-family: fantasy;
          font-weight: 800;
          display: flex;
          width: 100%;
          justify-content: center;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
        "
      >
        History
      </div>

      <div
        class="count"
        id="historycount"
        style="
          display: flex;
          justify-content: center;
          margin: 8px auto;
          padding: 5px 12px;
          background-color: black;
          color: white;
          border-radius: 10px;
          font-family: fantasy;
          width: fit-content;
        "
      >
        Count: 0
      </div>
      <div id="historylist"></div>
    </div>

    <script src="{% static 'accounts/js/main.js' %}"></script>
  </body>
</html>
